.leaflet-container {
  width: 100%;
  min-height: 68vh;
  height: 100%;
  border-radius: .3rem;
}

.absolute-marker{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2000;
  left: calc(62%);
  top: calc(62% - 20px);
}