.EditUser{
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  width: 10vw;
  height: 5vw;
  color: #F8C630;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-video{
  font-size: 10px;
}

.EditUser span{
  margin-left: 0.3rem;
  width: 3vw;
  height: 3vw;
  background: #f5eff2;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.3rem #e994a436;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-container img{
  width: 3vw;
  height: 3vw;
}

.profile-image-container{
  background-color: #2D62ED;
  padding: 1vw;
  border-radius: 50%;
}

.prg-img img{
  width: 7vw;
  height: 7vw;
}

.chart-img img{
  width: 30vw;
  height: 12vw;
  border: 1px solid #f9f9f9;
  border-radius: .3rem;
  margin-bottom: 1vw;
}

.chart-img{
  width: fit-content;
  border-radius: .5rem;
  padding: 2vw;
  box-shadow: 1px 5px 10px #d5d5d5;
  margin: 2vw;
  cursor: pointer;
}

.chart-img:hover{
  box-shadow: 1px 5px 30px #bc1aac48;
}

.prg-txt{
  
}

.prg-img{
  width: fit-content;
  border-radius: .5rem;
  padding: 2vw;
  box-shadow: 1px 5px 10px #d5d5d5;
  margin: 2vw;
}

.card-img{
  width: fit-content;
  border-radius: .5rem;
  box-shadow: 1px 5px 10px #d5d5d5;
  margin: 2vw;
}

.earn-img{
  width: fit-content;
  border-radius: .5rem;
  box-shadow: 1px 5px 10px #d5d5d5;
  margin: 2vw;
}

.earn-img img{
  width: 34vw;
  height: 17vw;
}

.card-img img{
  width: 17vw;
  height: 17vw;
}

.pro-info-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 89vh;
  background-color: #f9f9f9;
}

@media screen and (max-width:1000px) {
.grid-responsive{
  display: grid;
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:repeat(4,1fr);
}
.chart-res{
  grid-column: span 2;
}
.credit-res-cont{
  grid-column: span 4;
  grid-row: span 2;
}
.bar-res{
  grid-row: span 4;
}
.jet-res{
  display: none;
}
.credit-txt{
  font-size: 1px !important;
}
.button-video{
  font-size: 7px;
}
}

@media screen and (max-height:680px) {
  .grid-responsive{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:repeat(4,1fr);
  }
  .chart-res{
    display: none;
  }
  .credit-res-cont{
    grid-column: span 4;
    grid-row: span 4;
  }
  .bar-res{
    grid-row: span 4;
  }
  .jet-res{
    display: none;
  }
  .credit-txt{
    font-size: 1px !important;
  }
  }

  @media screen and (max-width:800px) {
    .grid-responsive{
      display: grid;
      grid-template-columns:repeat(5,1fr);
      grid-template-rows:repeat(4,1fr);
    }
    .chart-res{
      grid-column: span 5;
    }
    .credit-res-cont{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      grid-column: span 5;
      grid-row: span 4;
    }
    .bar-res{
      grid-column: span 5;
      grid-row: span 5;
    }
    .bar-content{
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .jet-res{
      display: none;
    }
    .credit-txt{
      font-size: 1px !important;
    }
    .button-video{
      width: 80px;
      height: 40px;
      margin: 15px;
      margin-bottom: 45px !important;
      font-size: 8px;
    }
    .button-video-container{
      width: 90vw;
      display: flex;
      justify-content: end;

    }
    .EditUser{
      position: fixed;
      bottom: 1vw;
      left: .5vw;
      width: 10vw;
      height: 5vw;
      color: #F8C630;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
