.colorPick-modal {
  z-index: 2000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2d2e9a;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.create-tag-container {
  background-image: url('../../content/Images/signUp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}