@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: 700;
  src: url('font/IRANSansRegular.ttf') format('truetype');
  src: url('font/IRANSans.woff') format('woff');
     }

.App {
  text-align: center;
  direction: rtl;
  font-family: IRANSans, Tahoma, Geneva, sans-serif;
  font-size: .8vw;
}

@media screen and (max-width: 1000px) {
  .App{
    font-size: 1vw;
  }
}
